body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.grid-item {
    width: 30%;
    margin: 10px;
    object-fit: cover;
}

h1 {
    text-align: center;
}

#word-display {
    font-size: 2rem;
    padding: 5vh;
}

#hint {
    text-align: center;
    padding: 2vh;
    font-size: 1.5rem;
}

#keyboard {
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    margin-bottom: 10px;
}

.key {
    width: 7vw;
    height: 4vh;
    border: 0.5vw solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    cursor: pointer;
    background-color: yellow;
}

.key:hover {
    background-color: bisque;
}

#gallows {
    z-index: -1;
    position: absolute;
    top: 10vh;
    left: 10vw;
}

#head {
    position: absolute;
    top: 8vh;
    left: 25vw;
    width: 7vw;
    height: auto;
}

.container {
    position: relative;
    display: inline-block;
}

@media (max-width: 1440px) {
    .grid-item {
        width: 45vw;
    }
}

@media (max-width: 768px) {
    .grid-item {
        width: 35vw;
    }
}
@media (max-width: 360px) {
    .grid-item {
        width: 25vw;
    }
}